<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  파비콘-->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/main/favicon-16x16.png">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/f2f40eee94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">

    <link rel="stylesheet" href="/css/itemMng.css">
</head>

<nav class="navbar1">
    <div class="nav-container">
        <div class="navbar-logo">
            <a href="/"><img src="/images/main/main_logo.png" alt="서울로고" /></a>

        </div>
        <ul class="navbar-menu">
            <li class="shop">
                <a href="/goods/goods.html">굿즈샵
                    <i class="fa-solid fa-caret-down"></i>
                </a>
                <div class="sub-header2" onmouseover="on()" onmouseout="off()">
                    <ul class="ul">
                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="course"><a href="itemForm.html">상품
                                등록</a></li>
                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="course"><a href="itemMng.html">상품
                                관리</a></li>
                        <li sec:authorize="isAuthenticated()" class="course"><a href="cartList.html">장바구니</a></li>
                        <li sec:authorize="isAuthenticated()" class="course"><a href="orderHist.html">구매이력</a></li>
                        <form th:action="@{/}" method="get" class="searchForm">
                            <input name="searchQuery" type="search" placeholder="굿즈샵 검색">
                            <button type="submit" class="button">검색</button>
                        </form>
                    </ul>
                </div>
            </li>
            <li class="course" id="course">
                <!--  코스헤더-->
                <a href="/course/courseList.html">둘레길 코스
                    <i class="fa-solid fa-caret-down"></i>
                </a>
                <div class="sub-header" onmouseover="on()" onmouseout="off()">
                    <ul class="ul">
                        <li class="course"><a href="/course/course1.html">1.수락·불암산코스</a></li>
                        <li class="course"><a href="/course/course1.html">2.용마·아차산코스</a></li>
                        <li class="course"><a href="/course/course1.html">3.고덕·일자산코스</a></li>
                        <li class="course"><a href="/course/course1.html">4.대모·우면산코스</a></li>
                        <li class="course"><a href="/course/course1.html">5.관악·호암산코스</a></li>
                        <li class="course"><a href="/course/course1.html">6.안양천·한강코스</a></li>
                        <li class="course"><a href="/course/course1.html">7.봉산·앵봉산코스</a></li>
                        <li class="course"><a href="/course/course1.html">8.북한·도봉산산코스</a></li>
                    </ul>
                </div>
            </li>


            <li><a href="../notice/list.html">이용후기</a></li>
            <li><a href="/board/list.html">공지사항</a></li>

            <a href="/member/join.html">
                <li class="icon">
                    <span id="spin" class="icon">회원가입</span>
                    <i class="fa-regular fa-user"></i>
                </li>
            </a>

        </ul>
        <ul class="navbar-icons">
            <li><a href="#"><i class="fa-brands fa-facebook n1"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram n1"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter n1"></i></a></li>
        </ul>
    </div>
</nav>

<form th:action="@{'/admin/items/' + ${items.number}}" role="form" method="get" th:object="${items}" class="formBox">

    <div th:object="${itemSearchDto}" class="searchBox">
        <select th:field="*{searchDateType}" style="width:auto;" class="selectFm">
            <option value="all">선택하세요&nbsp--&nbsp전체기간</option>
            <option value="1d">1일</option>
            <option value="1w">1주</option>
            <option value="1m">1개월</option>
            <option value="6m">6개월</option>
        </select>
        <select th:field="*{searchSellStatus}" style="width:auto;" class="selectFm">
            <option value="">선택하세요&nbsp--&nbsp판매상태(전체)</option>
            <option value="SELL">판매</option>
            <option value="SOLD_OUT">품절</option>
        </select>
        <select th:field="*{searchBy}" style="width:auto;" class="selectFm">
            <option value="itemNm">선택하세요&nbsp--&nbsp상품명</option>
            <option value="createdBy">등록자</option>
        </select>
        <input th:field="*{searchQuery}" type="text" placeholder="검색어를 입력해주세요">
        <button id="searchBtn" type="submit" class="button">검색</button>
    </div>

    <table class="formTable">
        <thead>
            <tr>
                <th>상품아이디</th>
                <th>상품명</th>
                <th>상태</th>
                <th>등록자</th>
                <th>등록일</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item, status: ${items.getContent()}">
                <td th:text="${item.id}"></td>
                <td>
                    <a th:href="'/admin/item/'+${item.id}" th:text="${item.itemNm}"></a>
                </td>
                <td th:text="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL} ? '판매중' : '품절'">
                </td>
                <td th:text="${item.createdBy}"></td>
                <td th:text="${item.regTime}"></td>
            </tr>
        </tbody>
    </table>
    <div class="footArea">
        <div
            th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${items.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${items.number - 1} + ')'" aria-label='Previous'
                        class="page-link">
                        <span aria-hidden='true'>Prev</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                    th:classappend="${items.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text"
                        class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${items.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${items.number + 1} + ')'" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>

            </ul>
        </div>


    </div>
</form>

<!--푸터-->
<div class="footerWrap">
    <footer class="footer-container">
        <div class="item">
        </div>
        <div class="item">
            <p>Designed by a month's life</p>
        </div>
        <div class="item sns">

        </div>

        <script type="text/javascript" src="/js/common.js"></script>
    </footer>
</div>

</html>