<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">

<head>
    <!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  파비콘-->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/main/favicon-16x16.png">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/f2f40eee94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">

    <link rel="stylesheet" href="/css/orderHist.css">
</head>

<body>
    <nav class="navbar1">
        <div class="nav-container">
            <div class="navbar-logo">
                <a href="/"><img src="/images/main/main_logo.png" alt="서울로고" /></a>

            </div>
            <ul class="navbar-menu">
                <li class="shop">
                    <a href="/goods/goods.html">굿즈샵
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <div class="sub-header2" onmouseover="on()" onmouseout="off()">
                        <ul class="ul">
                            <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="course"><a href="itemForm.html">상품
                                    등록</a></li>
                            <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="course"><a href="itemMng.html">상품
                                    관리</a></li>
                            <li sec:authorize="isAuthenticated()" class="course"><a href="cartList.html">장바구니</a></li>
                            <li sec:authorize="isAuthenticated()" class="course"><a href="orderHist.html">구매이력</a></li>
                            <form th:action="@{/}" method="get" class="searchForm">
                                <input name="searchQuery" type="search" placeholder="굿즈샵 검색">
                                <button type="submit" class="button">검색</button>
                            </form>
                        </ul>
                    </div>
                </li>
                <li class="course" id="course">
                    <!--  코스헤더-->
                    <a href="/course/courseList.html">둘레길 코스
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <div class="sub-header" onmouseover="on()" onmouseout="off()">
                        <ul class="ul">
                            <li class="course"><a href="/course/course1.html">1.수락·불암산코스</a></li>
                            <li class="course"><a href="/course/course1.html">2.용마·아차산코스</a></li>
                            <li class="course"><a href="/course/course1.html">3.고덕·일자산코스</a></li>
                            <li class="course"><a href="/course/course1.html">4.대모·우면산코스</a></li>
                            <li class="course"><a href="/course/course1.html">5.관악·호암산코스</a></li>
                            <li class="course"><a href="/course/course1.html">6.안양천·한강코스</a></li>
                            <li class="course"><a href="/course/course1.html">7.봉산·앵봉산코스</a></li>
                            <li class="course"><a href="/course/course1.html">8.북한·도봉산산코스</a></li>
                        </ul>
                    </div>
                </li>


                <li><a href="../notice/list.html">이용후기</a></li>
                <li><a href="/board/list.html">공지사항</a></li>

                <a href="/member/join.html">
                    <li class="icon">
                        <span id="spin" class="icon">회원가입</span>
                        <i class="fa-regular fa-user"></i>
                    </li>
                </a>

            </ul>
            <ul class="navbar-icons">
                <li><a href="#"><i class="fa-brands fa-facebook n1"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram n1"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter n1"></i></a></li>
            </ul>
        </div>
    </nav>
    <div class="contentWrap">
        <div layout:fragment="content">

            <div class="h2Box">
                <h2>구매 이력</h2>
            </div>
            <div th:each="order : ${orders.getContent()}">
                <div class="contentWrap">
                    <div>
                        <h4 th:text="${order.orderDate} + ' 주문' "></h4>
                        <div>
                            <th:block th:if="${order.orderStatus == T(com.shop.constant.OrderStatus).ORDER}">
                                <button type="button" th:value="${order.orderId}" onclick="cancelOrder(this.value)"
                                    class="button">주문취소
                                </button>
                            </th:block>
                            <th:block th:unless="${order.orderStatus == T(com.shop.constant.OrderStatus).ORDER}">
                                <h4>(취소 완료)</h4>
                            </th:block>
                        </div>
                    </div>
                    <div>
                        <div th:each="orderItem : ${order.orderItemDtoList}">
                            <div>
                                <img th:src="${orderItem.imgUrl}" th:alt="${orderItem.itemNm}"
                                    style="width: 200px; height:200px;">
                            </div>
                            <div>
                                <span th:text="${orderItem.itemNm}"></span>
                                <div>
                                    <span th:text="${orderItem.orderPrice} + '원'"></span>
                                    <span th:text="${orderItem.count} + '개'"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:with="start=${(orders.number/maxPage)*maxPage + 1},
                    end=(${(orders.totalPages == 0) ? 1 : (start + (maxPage - 1)
                    < orders.totalPages ? start + (maxPage - 1) : orders.totalPages)})">
                <ul class="paginationUl">
                    <li th:classappend="${orders.number eq 0}?'disabled':''">
                        <a th:href="@{'/orders/' + ${orders.number-1}}" aria-label='Previous'>
                            <span aria-hidden='true'>Previous</span>
                        </a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(start, end)}"
                        th:classappend="${orders.number eq page-1}?'active':''">
                        <a th:href="@{'/orders/' + ${page-1}}" th:inline="text">[[${page}]]</a>
                    </li>

                    <li th:classappend="${orders.number+1 ge orders.totalPages}?'disabled':''">
                        <a th:href="@{'/orders/' + ${orders.number+1}}" aria-label='Next'>
                            <span aria-hidden='true'>Next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--푸터-->
    <div class="footerWrap">
        <footer class="footer-container">
            <div class="item">
            </div>
            <div class="item">
                <p>Designed by a month's life</p>
            </div>
            <div class="item sns">

            </div>

            <script type="text/javascript" src="/js/common.js"></script>
        </footer>
    </div>
</body>

</html>