<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/board.css">
<link rel="stylesheet" href="/css/modal.css">
<th:block th:replace="fragments/head :: headFragment"></th:block>


<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
        <div class="image-box">

        </div>
        <span class="h1-wrap"></span>
        <h1 class="h1">수정 페이지</h1>

        <form action="/board/modify" method="post">

            <!-- 페이지 번호 -->
            <input type="hidden" name="page" th:value="${requestDTO.page}">
            <input type="hidden" name="type" th:value="${requestDTO.type}">
            <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">

            <div class="form-group">
                <label>번호</label>
                <input type="text" class="form-control" name="gno" th:value="${dto.gno}" readonly>  <!-- 수정 불가 -->
            </div>

            <div class="form-group">
                <label>제목</label>
                <input type="text" class="form-control" name="title" th:value="${dto.title}">   <!-- 수정 가능 -->
            </div>

            <div class="form-group">
                <label>내용</label>
                <textarea class="form-control" rows="5" name="content">[[${dto.content}]]
            </textarea>
            </div>

            <div class="form-group">
                <label>작성자</label>
                <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
            </div>

            <div class="form-group">
                <label>작성일</label>
                <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate,
      'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>

            <div class="form-group">
                <label>수정일</label>
                <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate,
      'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>

        </form>
        <div class="button-box">
            <button type="button" class="button modifyBtn">수정</button>
            <button type="button" class="button listBtn">목록</button>
            <button type="button" class="button removeBtn">삭제</button>
        </div>


        <script th:inline="javascript">

            <!--        ajax csrf적용-->
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(function() {
             $(document).ajaxSend(function(e, xhr, options) {
                     xhr.setRequestHeader(header,token);
                });
            });



            var actionForm = $("form");         // form 태그 객체
            $(".removeBtn").click(function (){

                actionForm
                    .attr("action", "/board/remove")
                    .attr("method", "post");

                actionForm.submit();
            })

            $(".modifyBtn").click(function (){

                if(!confirm("수정하시겠습니까?")) {
                    return;
                }

                actionForm
                    .attr("action", "/board/modify")
                    .attr("method", "post")
                    .submit();
            });

            $(".listBtn").click(function (){

                // var pageInfo = $("input[name='page']");
                var page = $("input[name='page']");
                var type = $("input[name='type']");
                var keyword = $("input[name='keyword']");

                actionForm.empty();             // form 태그의 모든 내용을 지움

                actionForm.append(page);
                actionForm.append(type);
                actionForm.append(keyword);

                actionForm
                    .attr("action", "/board/list")
                    .attr("method", "get");

                actionForm.submit();
            });



        </script>

    </th:block>

</th:block>