<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/board.css">
<link rel="stylesheet" href="/css/modal.css">
<th:block th:replace="fragments/head :: headFragment"></th:block>


<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
        <div class="image-box">

        </div>
        <span class="h1-wrap"></span>
        <h1 class="h1">상세 페이지</h1>

        <div class="form-group">
            <label>번호</label>
            <input type="text" class="form-control" name="gno" th:value="${dto.gno}" readonly>
        </div>

        <div class="form-group">
            <label>제목</label>
            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
        </div>

        <div class="form-group">
            <label>내용</label>
            <textarea class="form-control" rows="5" name="content" readonly>[[${dto.content}]]</textarea>
        </div>

        <div class="form-group">
            <label>작성자</label>
            <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
        </div>

        <div class="form-group">
            <label>작성일</label>
            <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate,
      'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>

        <div class="form-group">
            <label>수정일</label>
            <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate,
      'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <div class="button-box">
            <a th:href="@{/board/modify(gno = ${dto.gno}, page=${requestDTO.page},
    type = ${requestDTO.type}, keyword = ${requestDTO.keyword})}">
                <button type="button" class="button">수정</button>
            </a>

            <a th:href="@{/board/list(page=${requestDTO.page}, type = ${requestDTO.type},
    keyword = ${requestDTO.keyword})}">
                <button type="button" class="button">목록</button>
            </a>
        </div>

    </th:block>

</th:block>
