<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/board.css">
<link rel="stylesheet" href="/css/modal.css">
<th:block th:replace="fragments/head :: headFragment"></th:block>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">


        <th:block th:fragment="content">
            <div class="image-box">

            </div>
            <span class="h1-wrap"></span>
            <form th:action="@{/board/register}" th:method="post">
                <div class="form-group">
                    <h1 class="h1">공지사항 등록 페이지</h1>

                    <label for="form-title">제목</label>
                    <input type="text" id="form-title" class="form-control input-title" name="title"
                           placeholder="제목을 입력하세요.">
                </div>
                <div class="form-group">
                    <label>내용</label>
                    <textarea class="form-control" rows="20" cols="40" name="content"></textarea>
                </div>
                <div class="form-group">
                    <label>작성자</label>
                    <input type="text" class="form-control" name="writer" placeholder="작성자를 입력하세요.">
                </div>

                <div class="button-box">
                    <button type="submit" class="button">작성</button>
                </div>
            </form>

        </th:block>

    </th:block>
