@charset "UTF-8";

/* font-family: 'Noto Sans KR', sans-serif;  */
/* 내게 필요한 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
}

ul {
    list-style: none;
}

.vs_tit {
    font-family: 'scB';
}

.vs_com {
    font-family: 'Nanum Gothic', sans-serif;
}

i[class*='xi'] {
    font-size: 28px;
    color: #000;
}

i[class*='xi']:hover {
    color: rgb(226, 55, 25);
}

.wrap {
    clear: both;
    width: 100%;
}

a {
    text-decoration: none;
}

/* 헤더 */

#hd {
    clear: both;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(236, 231, 225);
    font-weight: 700;
    border-bottom: 5px solid rgba(196, 182, 182, 0.11);
    /*   position:fixed; top: 0; left: 0; height:60px; z-index:999;
    background-color: rgba(255,255,255,0.75);  */
}

.hd_wrap {
    clear: both;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.logo {
    display: block;
    width: 250px;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

.logo img {
    display: block;
    width: 150px;
    height: 50px;
}

#gnb {
    float: left;
    margin-top: 20px;
    margin-bottom: 24px;
}

#gnb>ul>li {
    float: left;
    padding-left: 50px;
    padding-right: 20px;
    position: relative;
}

#gnb>ul>li>span {
    display: block;
    line-height: 36px;
    cursor: pointer;
    color: #000;
}

#gnb ul li .sub {
    display: none;
    position: absolute;
    left: 10px;
    top: 35px;
    z-index: 999;
    color: rgb(235, 226, 219);
    padding-left: 10px;
    width: 160px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.424);
}

#gnb ul li .sub li {
    line-height: 38px;
}

.sub li a {
    color: rgb(241, 234, 228);
}

#gnb ul li .sub li:hover a {
    color: rgb(255, 141, 20);
    text-decoration: underline;
}

#gnb ul li:hover .sub {
    display: block;
}

#gnb ul li:hover span {
    color: rgb(255, 141, 20);
}

#tnb {
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-right: 20px;
}

#tnb a {
    font-size: 0.85em;
    padding-left: 30px;
    color: #000;
}

#tnb a:hover {
    color: rgb(255, 141, 20);
    text-decoration: underline;
}

/* 모바일 메뉴 버튼 (기본 숨김) */
.m_btn {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
}

#content {
    clear: both;
    width: 100%;
}

/* 푸터 */
#ft {
    clear: both;
    width: 100%;
    padding-top: 20px;
    border-top: 4px solid #cec9bd;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(237, 232, 225);
}

.ft_wrap {
    clear: both;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.fnb {
    float: left;
}

.fnb a {
    display: block;
    float: left;
    margin: 14px;
    margin-left: 0;
    margin-right: 28px;
    font-size: 12px;
}

.fnb a:after {
    content: "|";
    padding-left: 28px;
}

.fnb a:last-child::after {
    content: "";
}

.snb {
    float: right;
}

.snb ul li {
    float: left;
    margin-left: 28px;
}

.copyright {
    clear: both;
    padding-bottom: 28px;
    font-size: 12px;
}

/* 반응형 스타일 */
@media screen and (max-width: 1024px) {
    #gnb {
        display: none;
    }

    #tnb {
        display: none;
    }

    .m_btn {
        display: block;
    }

    /* 모바일 메뉴 스타일 (필요시 추가 구현) */
    .mobile_nav {
        display: none;
        /* JS로 제어 */
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 998;
        border-bottom: 1px solid #ccc;
    }

    .mobile_nav>ul>li {
        border-bottom: 1px solid #eee;
    }

    .mobile_nav>ul>li>span {
        display: block;
        padding: 15px 20px;
        font-weight: bold;
        cursor: pointer;
    }

    .mobile_nav .sub {
        display: none;
        background: #f9f9f9;
        padding: 10px 0;
    }

    .mobile_nav .sub li a {
        display: block;
        padding: 10px 40px;
        color: #666;
    }

    .fnb,
    .snb {
        float: none;
        text-align: center;
    }

    .fnb a {
        float: none;
        display: inline-block;
        margin: 5px 10px;
    }

    .fnb a:after {
        display: none;
    }

    .snb ul {
        display: inline-block;
        padding: 10px 0;
    }

    .copyright {
        text-align: center;
    }

    /* Index Page Responsive Styles */
    .vs_tit {
        font-size: 30px;
    }

    .vs_com {
        font-size: 16px;
        padding-top: 20px;
    }

    .img_box .tit_box {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        padding-left: 0;
        text-align: center;
    }

    .btn_group {
        left: 50%;
        transform: translateX(-50%);
        top: auto;
        bottom: 20px;
    }

    .btn_group button {
        width: 50px;
        height: 50px;
    }

    .grid_wrap li,
    .grid_wrap li.item4,
    .grid_wrap li.item5,
    .grid_wrap li.item6,
    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6 {
        width: 50%;
        height: auto;
        min-height: 250px;
    }

    .grid_wrap li a {
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {

    .grid_wrap li,
    .grid_wrap li.item4,
    .grid_wrap li.item5,
    .grid_wrap li.item6,
    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6 {
        width: 100%;
        border-right: none;
        border-top: 1px solid #ddd;
    }

    .hd_wrap {
        height: 80px;
    }
}