<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  파비콘-->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/main/favicon-16x16.png">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/f2f40eee94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">

    <link rel="stylesheet" href="/css/goodsForm.css">
</head>

<nav class="navbar1">
    <div class="nav-container">
        <div class="navbar-logo">
            <a href="/"><img src="/images/main/main_logo.png" alt="서울로고" /></a>

        </div>
        <ul class="navbar-menu">
            <li class="shop">
                <a href="/goods.html">굿즈샵
                    <i class="fa-solid fa-caret-down"></i>
                </a>
                <div class="sub-header2" onmouseover="on()" onmouseout="off()">
                    <ul class="ul">
                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="course"><a href="/itemForm.html">상품
                                등록</a></li>
                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="course"><a href="/itemMng.html">상품
                                관리</a></li>
                        <li sec:authorize="isAuthenticated()" class="course"><a href="/cartList.html">장바구니</a></li>
                        <li sec:authorize="isAuthenticated()" class="course"><a href="/orderHist.html">구매이력</a></li>
                        <form th:action="@{/}" method="get" class="searchForm">
                            <input name="searchQuery" type="search" placeholder="굿즈샵 검색">
                            <button type="submit" class="button">검색</button>
                        </form>
                    </ul>
                </div>
            </li>
            <li class="course" id="course">
                <!--  코스헤더-->
                <a href="/courseList.html">둘레길 코스
                    <i class="fa-solid fa-caret-down"></i>
                </a>
                <div class="sub-header" onmouseover="on()" onmouseout="off()">
                    <ul class="ul">
                        <li class="course"><a href="/course1.html">1.수락·불암산코스</a></li>
                        <li class="course"><a href="/course1.html">2.용마·아차산코스</a></li>
                        <li class="course"><a href="/course1.html">3.고덕·일자산코스</a></li>
                        <li class="course"><a href="/course1.html">4.대모·우면산코스</a></li>
                        <li class="course"><a href="/course1.html">5.관악·호암산코스</a></li>
                        <li class="course"><a href="/course1.html">6.안양천·한강코스</a></li>
                        <li class="course"><a href="/course1.html">7.봉산·앵봉산코스</a></li>
                        <li class="course"><a href="/course1.html">8.북한·도봉산산코스</a></li>
                    </ul>
                </div>
            </li>


            <li><a href="/reviewList.html">이용후기</a></li>
            <li><a href="/boardList.html">공지사항</a></li>

            <a href="/join.html">
                <li class="icon">
                    <span id="spin" class="icon">회원가입</span>
                    <i class="fa-regular fa-user"></i>
                </li>
            </a>

        </ul>
        <ul class="navbar-icons">
            <li><a href="#"><i class="fa-brands fa-facebook n1"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram n1"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter n1"></i></a></li>
        </ul>
    </div>
</nav>
<div class="formBox">
    <div class="titleBox">
        <p class="h2">
            상품 등록
        </p>
    </div>
    <form role="form" method="post" enctype="multipart/form-data" th:object="${itemFormDto}" class="form">
        <!--    form submit을 할 때, form의 데이터가 th:object에 설정해준 객체로 받아진다.-->


        <input type="hidden" th:field="*{id}">
        <div>
            <div>
                <div>
                    <select th:field="*{itemSellStatus}" class="selectFm">
                        <option value="">-- 선택하세요 --</option>
                        <option value="SELL">판매중</option>
                        <option value="SOLD_OUT">품절</option>
                    </select>
                </div>

                <div class="goodsNmBox">
                    <div class="goodsNm">
                        <span>상품명</span>
                    </div>
                    <div class="contentInput">
                        <input type="text" th:field="*{itemNm}" placeholder="상품명을 입력해주세요">
                    </div>
                </div>


                <div class="goodsPrBox">
                    <div class="goodsPr">
                        <span>가격</span>
                    </div>
                    <div class="contentPrInput">
                        <input type="number" th:field="*{price}" placeholder="상품의 가격을 입력해주세요">
                    </div>
                </div>


                <div class="stockBox">
                    <div class="stockQuantity">
                        <span>재고</span>
                    </div>
                    <div class="contentStockInput">
                        <input type="number" th:field="*{stockNumber}" placeholder="상품의 재고를 입력해주세요">
                    </div>
                </div>

            </div>
            <div class="contentDescription">
                <div>
                    <div class="stockDescription">
                        <span>상품 상세 내용</span>
                    </div>
                    <textarea aria-label="With textarea" th:field="*{itemDetail}"
                        placeholder="1000자 내외로 작성하세요"></textarea>
                </div>
            </div>
        </div>

        <div th:if="${#lists.isEmpty(itemFormDto.itemImgDtoList)}">
            <div th:each="num: ${#numbers.sequence(1,5)}">
                <div class="fileInput">
                    <input type="file" name="itemImgFile">
                    <label th:text="상품이미지 + ${num}"></label>
                </div>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(itemFormDto.itemImgDtoList)}">
            <div th:each="itemImgDto, status: ${itemFormDto.itemImgDtoList}">
                <div>
                    <input type="file" name="itemImgFile">
                    <input type="hidden" name="itemImgIds" th:value="${itemImgDto.id}">
                    <label
                        th:text="${not #strings.isEmpty(itemImgDto.oriImgName)} ? ${itemImgDto.oriImgName} : '상품이미지' + ${status.index+1}"></label>
                </div>
            </div>
        </div>

        <div th:if="${#strings.isEmpty(itemFormDto.id)}" style="text-align: center">
            <button th:formaction="@{/admin/item/new}" type="submit" class="button">저장</button>
        </div>

        <div th:unless="${#strings.isEmpty(itemFormDto.id)}" style="text-align: center">
            <button th:formaction="@{'/admin/item/' + ${itemFormDto.id} }" type="submit">수정</button>
        </div>
        <!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
    </form>
</div>
<div class="footerWrap">
    <footer class="footer-container">
        <div class="item">
        </div>
        <div class="item">
            <p>Designed by a month's life</p>
        </div>
        <div class="item sns">

        </div>

        <script type="text/javascript" src="/js/common.js"></script>
    </footer>
</div>

</html>