<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/review.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <div class="image-box">

    </div>
    <div class="h1-wrap">
        <h1 class="h1">상세 페이지</h1>
    </div>

    <div class="form-group">
        <label class="label">내용</label>
        <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
    </div>

    <div class="form-group">
        <label class="label">댓글 갯수</label>
        <input type="text" class="form-control" name="title" th:value="${dto.reviewCnt}" readonly>
    </div>

    <div class="form-group">
        <label class="label">별점 평균</label>
        <input type="text" class="form-control" name="title" th:value="${dto.avg}" readonly>
    </div>

    <style>
        .uploadResult {
            width: 100%;
            background-color: gasinboro;
            margin-top: 10px;
        }

        .uploadResult ul {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            vertical-align: top;
            overflow: auto;
        }

        .uploadResult ul li {
            list-style: none;
            padding: 10px;
            margin-left: 2em;
        }

        .uploadResult ul li img {
            width: 300px;
            cursor: pointer;
            margin: 0 auto;
        }

        .card-body {
            height: 150px;
            width: 300px;
            margin: 0 auto;
        }

        .badge {
            padding: 0;
            padding-left: 5px;
        }

        .button-box {
            margin: 20px auto;
        }

        #starrr>a {
            display: inline-block;
        }

        .form-group>.label {
            width: 100%;
            text-align: center;
        }
    </style>


    <div class="uploadResult">
        <ul>
            <li th:each="noticeImage: ${dto.imageDTOList}" th:data-file="${noticeImage.getThumbnailURL()}">
                <img th:if="${noticeImage.path != null}" th:src="|/display?fileName=${noticeImage.getThumbnailURL()}|">
            </li>
        </ul>
    </div>

    <div class="button-box">
        <button type="button" class="button">
            댓글 갯수<span class="badge badge-light">[[${dto.reviewCnt}]]</span>
        </button>

        <button type="button" class="addReviewBtn button">
            댓글 쓰기
        </button>
    </div>
    <div class="list-group reviewList">

    </div>


    <div class="reviewModal modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">이용후기 리뷰</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>작성자</label>
                        <input type="text" class="form-control" name="mid">
                    </div>
                    <div class="form-group">
                        <label>별점<span class="grade"></span></label>
                        <div class='starrr' id="starrr"></div>
                    </div>
                    <div class="form-group">
                        <label>내용</label>
                        <input type="text" class="form-control" name="text" placeholder="샬라샬라샬라!">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button" data-dismiss="modal">닫기</button>
                    <button type="button" class="reviewSaveBtn button">등록하기</button>
                    <button type="button" class="button modifyBtn">수정</button>
                    <button type="button" class="button removeBtn">삭제</button>
                </div>
            </div>
        </div>
    </div>

    <div class="imageModal modal " tabindex="-2" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">크게보기</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {

            <!--        ajax csrf적용-->
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
        });

        $(document).ready(function (e) {

            var grade = 0;
            var mno = [[${ dto.mno }]];

            $('.starrr').starrr({
                rating: grade,
                change: function (e, value) {
                    if (value) {
                        console.log(value);
                        grade = value;
                    }
                }
            });

            //$(".reviewModal").modal("show"); 미리 보기용

            var reviewModal = $(".reviewModal");
            var inputMid = $('input[name="mid"]');
            var inputText = $('input[name="text"]');


            $(".addReviewBtn").click(function () {
                inputMid.val("");
                inputText.val("");

                $(".removeBtn ,  .modifyBtn").hide();
                $(".reviewSaveBtn").show();

                reviewModal.modal('show');
            });


            $('.reviewSaveBtn').click(function () {

                var data = { mno: mno, grade: grade, text: inputText.val(), mid: inputMid.val() };

                console.log(data);

                $.ajax({
                    url: '/reviews/' + mno,
                    type: "POST",
                    data: JSON.stringify(data), //
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (result) {

                        console.log("result: " + result);

                        self.location.reload();

                    }
                })
                reviewModal.modal('hide');

            });


            //페이지가 열리면 바로 리뷰 데이터들을 가져와서 사용한다.
            function getNoticeReviews() {

                function formatTime(str) {
                    var date = new Date(str);

                    return date.getFullYear() + '/' +
                        (date.getMonth() + 1) + '/' +
                        date.getDate() + ' ' +
                        date.getHours() + ':' +
                        date.getMinutes();
                }

                $.getJSON("/reviews/" + mno + "/all", function (arr) {
                    var str = "";

                    $.each(arr, function (idx, review) {

                        console.log(review);


                        str += '    <div class="card-body" data-reviewnum=' + review.reviewnum + ' data-mid=' + review.mid + '>';
                        str += '    <h5 class="card-title">' + review.text + ' <span>' + review.grade + '</span></h5>';
                        str += '    <h6 class="card-subtitle mb-2 text-muted">' + review.nickname + '</h6>';
                        str += '    <p class="card-text">' + formatTime(review.regDate) + '</p>';
                        str += '    </div>';

                    });

                    $(".reviewList").html(str);
                });
            }

            getNoticeReviews();


            //modify reveiw

            var reviewnum;

            $(".reviewList").on("click", ".card-body", function () {

                $(".reviewSaveBtn").hide();
                $(".removeBtn , .modifyBtn").show();


                var targetReview = $(this);

                reviewnum = targetReview.data("reviewnum");
                console.log("reviewnum: " + reviewnum);
                inputMid.val(targetReview.data("mid"));
                inputText.val(targetReview.find('.card-title').clone().children().remove().end().text());

                var grade = targetReview.find('.card-title span').html();
                $(".starrr a:nth-child(" + grade + ")").trigger('click');

                $('.reviewModal').modal('show');
            });


            $(".modifyBtn").on("click", function () {

                var data = { reviewnum: reviewnum, mno: mno, grade: grade, text: inputText.val(), mid: inputMid.val() };

                console.log(data);

                $.ajax({
                    url: '/reviews/' + mno + "/" + reviewnum,
                    type: "PUT",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (result) {

                        console.log("result: " + result);

                        self.location.reload();

                    }
                })
                reviewModal.modal('hide');
            });

            $(".removeBtn").on("click", function () {

                var data = { reviewnum: reviewnum };

                console.log(data);

                $.ajax({
                    url: '/reviews/' + mno + "/" + reviewnum,
                    type: "DELETE",
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (result) {

                        console.log("result: " + result);

                        self.location.reload();

                    }
                })
                reviewModal.modal('hide');
            });

            $(".uploadResult li").click(function () {

                var file = $(this).data('file');

                console.log(file);

                $('.imageModal .modal-body').html("<img style='width:100%' src='/display?fileName=" + file + "&size=1' >")

                $(".imageModal").modal("show");

            });



        });




    </script>

    <div class="footerWrap">
        <footer class="footer-container">
            <div class="item">
            </div>
            <div class="item">
                <p>Designed by a month's life</p>
            </div>
            <div class="item sns">

            </div>

            <script type="text/javascript" src="/js/common.js"></script>
        </footer>
    </div>
</body>