@charset 'utf-8';

.image-box {
    height: 300px;
    background: url('/images/board/field.jpeg') no-repeat center;
}

.h1 {
    text-align: center;
    height: 150px;
    line-height: 200px;
    font-size: 40px;
    color: black;
}

.write {
    text-align: right;
}

.board-box {
    width: 1300px;
    margin: 0 auto;
    min-height: 725px;
}

.input-group {
    text-align: right;
    width: 700px;
}

.input-group-prepend {
    display: inline-block;
}

.input-group-prepend .form-select {
    height: 35px;
    width: 177px;
    border-radius: 5px;
    padding-left: 10px;
}

.input-group .form-control {
    height: 35px;
    width: 177px;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 10px;
}

.btn-search {
    width: 35px;
    padding: 0;
    margin: 0;
    background-color: white;
}

.btn-clear {
    padding: 7px;
    color: black;
}

.input-group-append {
    display: inline;
}

.table {
    width: 1100px;
    margin: 50px auto;
}

.table .col {
    padding: 10px;
}

.table .col2 {
    width: 700px;
    padding: 10px;
}

.table tr {
    border-bottom: 1px solid gainsboro;
}

.table .row {
    width: 70px;
    padding: 10px;
}

.table .rows {
    text-align: center;
}

.table .rows:nth-child(2) {
    text-align: left;
    padding-left: 50px;
}

.page-item {
    text-align: center;
}

.active a {
    padding: 7px;
    background-color: orange;
    border-radius: 5px;
}

.page-item {
    display: inline-block;
}

.page-ul {
    text-align: center;
}

.write {
    width: 500px;
    display: inline-block;
    text-align: left;
    padding-left: 10%;
}

#searchForm {
    display: inline-block;
}

.board-header {
    width: 1300px;
    margin-top: 50px;
}

.form-group {
    text-align: center;
    margin: 20px;
}

.form-group input {
    width: 500px;
}

.form-group textarea {
    color: black;
    font-weight: 500;
    width: 700px;
    height: 400px;
    resize: none;
    border-radius: 10px;
}

.form-group textarea:focus {
    border: solid 2px #7a9dff;
}

.form-group .input-title {
    width: 500px;
}




/*버튼*/
.button {
    padding: 10px;
    background-color: orange;
    border-radius: 6px;
    border: 1px solid beige;
    cursor: pointer;
}

.button:active {
    background-color: #b47500;
}

.button-box {
    text-align: center;
}

.button-box>a:hover {
    display: inline;
}

.page-item a:hover {
    display: inline;
}