@charset 'utf-8';


/* 사이드메뉴 */

.sideWrap {
    width: 300px;
    height: 400px;
    top: 370px;
    position: absolute;

}

.sideWrap.drop {
    top: 70px;
    position: fixed;
}

.sideWrap p {
    cursor: pointer;
    color: gray;
    padding: 20px;
}

.sideWrap p:first-child {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.sideWrap p:first-child {
    font-size: 20px;
    font-weight: bold;
}

.sideWrap p.active {
    color: black;
    font-size: 20px;
    border-left: 6px solid rgb(66, 132, 197);
}

.sideWrap>.sideMenu {
    margin: 70px auto 10px 30px;
}

.sideWrap.white {
    top: 130px;
    position: fixed;
    background: none;
}

.sideWrap.white>.sideMenu>p {
    color: white;
}



.map-content {
    width: 1100px;
    margin: 100px auto;
}

.title-h3 {

    margin-top: 100px;
    margin-bottom: 15px;
    text-align: center;

}

.title-h3 p {
    padding-right: 75px;
    font-size: 36px;
    display: inline-block;
    background: url('../images/courseInfo/sc2.png') no-repeat right center;
    font-weight: bold;

}

.bull-wrap {
    display: inline-block;
    text-align: left;
}

.bull-wrap p span {
    margin-left: 14px;
}

.bull {
    position: relative;
    margin: 30px;
    font-size: 18px;
    font-weight: bold;
}

.bull:before {
    position: absolute;
    display: inline-block;
    top: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #08b2f5;
    content: '';
}

.under {
    width: 70px;
    height: 6px;
    background: rgb(66, 132, 197);
    margin: 0 auto;
}

.top-table {
    width: 1300px;
    margin: 30px auto;
}

.info-Table1 {
    margin: 70px auto 30px auto;
    width: 1300px;
}

.info-Table1 .col {
    width: 165px;
    padding: 10px;
    border: 1px solid gray;
    background: rgb(173, 214, 255, 0.3);

}

.info-Table1 .col:first-child {
    width: 300px;
    border-left: none;
}

.info-Table1 .col:last-child {
    border-right: none;
}

.top-table.second {
    height: 300px;
    margin-bottom: 70px;
    vertical-align: middle;
}

.top-table.second .col:last-child {
    width: 600px;
}

.top-table.third {
    margin-top: 0px;
    margin-bottom: 20px;
}

.bull-wrap.third {
    margin-left: 400px;
}

.info-Table1 .row {
    padding: 10px;
    text-align: center;
    border: solid 1px gray;
    vertical-align: middle;
}

.info-Table1 .row:first-child {
    border-left: none;
}

.info-Table1 .row:last-child {
    border-right: none;
}

.course-map {
    text-align: center;
    margin-bottom: 70px;
}

.info-text {
    border: none;
    background-color: #ebf2f6;
    border-radius: 12px;
    width: 1100px;
    padding: 30px;
    line-height: 1.5em;
}

.route-info {
    margin: 30px;
}

.route-info .row {
    text-align: left;
    padding: 7px;
    border: 1px solid gray;
    border-left: none;
}

.route-info td {
    padding: 7px;
    width: 270px;
    border: 1px solid gray;
    border-right: none;
}

.note-boxs {
    width: 1200px;
    margin: 50px auto 200px auto;
    margin-top: 30px;
    background: #f5f5f5;
    padding: 20px 30px;
    border-radius: 10px;
}

.note-boxs>div {
    padding-left: 95px;
    background: url(../images/courseInfo/nt.png) no-repeat left;
}

.note-boxs>div>p {
    color: cornflowerblue;
}




/*.img-slider{
    position: relative;
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
}
.slider-content{
    display: flex;
    width: 900px;
    height: 450px;
    align-content: center;
}
.slider-content img{
    transition: all 0.15s ease;
    width: 600px;
    height: 450px;
}
.slider-content input{
    display: none;
}
.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid 1px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover{
    background: #008fe9;
}
#img1:checked ~ .simg1{
    margin-left: 0;
}
#img2:checked ~ .simg2{
    margin-left: -66.7%;
}
#img3:checked ~ .simg3{
    margin-left: -133.4%;
}
#img4:checked ~ .simg4{
    margin-left: -200%;
}
#img5:checked ~ .simg5{
    margin-left: -266.7%;
}
#img6:checked ~ .simg6{
    margin-left: -333.4%;
}
#img7:checked ~ .simg7{
    margin-left: -400%;
}
#img8:checked ~ .simg8{
    margin-left: -466.7%;
}
#img9:checked ~ .simg9{
    margin-left: -533.4%;
}
#img10:checked ~ .simg10{
    margin-left: -600%;
}
#img11:checked ~ .simg11{
    margin-left: -666.7%;
}
*/
/*헤더*/
.h1-wrap {
    height: 300px;
    background: url('/images/courseInfo/panorama.jpg') no-repeat center;
}

/*버튼 슬라이드*/

.clearfix:after {
    content: '';
    display: block;
    clear: both;
    float: none;
}

.title {
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
    color: #333;
}

.link,
.link:visited {
    display: inline-block;
    margin: 20px 0;
    color: #555;
    text-decoration: none;
    font-weight: bold;
}

.link:hover,
.link:focus {
    color: #9fd6c2;
}

/* container - body */
#container {
    width: 1500px;
    height: 800px;
    margin: auto;
}

.slide_wrap {
    position: relative;
    width: 1000px;
    margin: auto;
    padding-bottom: 30px;
    top: 120px;
    position: relative;
}

.slide_wrap>.photoComment {
    color: white;
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
}

.slide_box {
    width: 100%;
    margin: auto;
    overflow-x: hidden;
}

.slide_content {
    display: table;
    float: left;
    width: 1000px;
    height: 500px;
}

.slide_content>p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #555;
}

.slide_content.slide01 {
    background: #ddbdff;
}

.slide_content.slide02 {
    background: #9fd6c2;
}

.slide_content.slide03 {
    background: #abe2f7;
}

.slide_content.slide04 {
    background: #f08c78;
}

.slide_content.slide05 {
    background: #fbdb65;
}

.slide_btn_box>button {
    position: absolute;
    top: 50%;
    margin-top: -45px;
    width: 60px;
    height: 60px;
    font-size: 16px;
    color: #999;
    background: none;
    border: 1px solid #ddd;
    cursor: pointer;
}

.slide_btn_box>.slide_btn_prev {
    left: -100px;
}

.slide_btn_box>.slide_btn_next {
    right: -100px;
}

.slide_pagination {
    position: absolute;
    left: 50%;
    bottom: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translateX(-50%);
}

.slide_pagination .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    overflow: hidden;
    background: #ddd;
    border-radius: 50%;
    transition: 0.3s;
}

.slide_pagination .dot.dot_active {
    background: #333;
}

.slide_pagination .dot a {
    display: block;
    width: 100%;
    height: 100%;
}

.background-color {
    background-color: black;
}

.slide_content>img {
    width: 1000px;
    height: 500px;
}