@charset "utf-8";

.titleBox {
    border-bottom: 1px solid #3d3d4f;
}

.titleBox .h2 {
    background-color: #3d3d4f;
    padding: 15px 125px 10px;
    display: inline-block;
    color: white;
}

.selectFm {
    padding: 3px 3px 1px 3px;
    margin: 10px auto 30px auto;
    border: 1px solid #aaa;
    border-radius: .5em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
}

.formBox {
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}

.goodsNmBox,
.goodsPrBox,
.stockBox {
    margin-bottom: 50px;
    padding-top: 30px;
    border-top: 1px solid rgb(200, 200, 200);
}

.goodsNm,
.goodsPr,
.stockQuantity,
.stockDescription {
    margin: 10px auto 10px auto;
    display: inline;
    padding: 6px 60px 7px 60px;
    background-color: grey;
    font-weight: 700;
    color: white;
}

.contentInput,
.contentPrInput,
.contentStockInput {
    display: inline;
}

.contentInput input,
.contentPrInput input,
.contentStockInput input {
    width: 700px;
    height: 2em;
    border: 1px solid #aaa;
}

.form {
    border: 1px solid rgb(200, 200, 200);
    padding: 20px;
    border-top: none;
}

.flexBox {
    display: flex;
}

.flexBox .contentDescription {
    margin: 0 auto;
}

.contentDescription textarea {
    resize: none;
    width: 900px;
    height: 400px;
    border: 1px solid #aaa;
}

.button {
    padding: 7px 10px 7px 10px;
    background: #3d3d4f;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
}

.button:hover {
    background: rgb(200, 200, 200);
}