@charset 'utf-8';

a:hover {
    display: inline;
    cursor: pointer;
}

.billContent {
    width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
}

.billContentTop {
    display: flex;
}

.imgBox {
    width: 50%;
    border: 1px solid rgb(200, 200, 200);
    border-right: 0px;
}

.imgBox img {
    margin: auto;
    min-width: 500px;
    max-width: 510px;
    max-height: 510px;
}

.imgBox>.state>span {
    background: #85c6ff;
    border-radius: 1px;
    padding: 1px;
    color: white;
}

.imgBox>.state {
    padding-top: 3px;
}

.imgBox2 {
    width: 50%;
    padding: 39px;
    border: 1px solid rgb(200, 200, 200);
}

.imgBox2 .goodsName {
    font-size: 20px;
    font-weight: bold;
}

.imgBox2 .price {
    font-size: 24px;
    font-weight: bold;
    color: coral;
    width: 100%;
    text-align: right;
    margin-top: 15px;
}

.quantity>input {
    width: 40px;
}

.orderBox {
    padding-top: 10px;
}

.orderBox .order {
    width: 100%;
    background: #03c75a;
    color: white;
    padding: 13px;
    border: 0px;
}

.orderBox .order:hover {
    background: #039545;
    cursor: pointer;
}

.orderBox .cart {
    width: 100%;
    background: white;
    padding: 13px;
    border: 1px solid rgb(200, 200, 200);
}

.orderBox .cart:hover {
    cursor: pointer;
    border: 1px solid rgb(111, 111, 111);
}

.bill {
    text-align: right;
    margin-top: 15px;
    border-top: 1px solid rgb(200, 200, 200);
    padding-top: 30px;
}

.quantity {
    margin-top: 10px;
    text-align: right;
    border-top: 1px solid rgb(200, 200, 200);
    padding-top: 30px;
}

#totalPrice {
    font-size: 24px;
    font-weight: 900;
    color: coral;
}

.descriptionBox {
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;

}

.description {
    border-bottom: 1px solid #3d3d4f;
    margin-bottom: 29px;
}

.description h4 {
    background-color: #3d3d4f;
    color: #fff;
    display: inline-block;
    padding: 15px 125px 10px;
    cursor: pointer;
}

.exclamationMark {
    text-align: center;
    padding: 22px 16px;
    background-color: #fff8f8;
}

.exclamationMark strong {
    color: #ec000e;
    margin-bottom: 12px;
}

.exclamationMark span {
    background-color: #fff4ac;
}

.exclamationMark a {
    color: #811515;
    text-decoration: underline;
}

.contentImgBox {
    margin: 50px auto;
}