@charset "utf-8";

* {
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}

/* 헤더 */

.nav-container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f7ec;
    padding: 8px 12px;
}

.navbar-logo {
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
}

.navbar-logo a {
    padding-left: 24px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

.navbar-menu >li {
    padding: 27px 12px;
}
.icon{
    padding: 27px 12px;
}

.navbar-menu li:hover {
    color: rgb(20, 151, 0);
}

.navbar-icons {
    list-style: none;
    display: flex;
    margin: 0 auto;
}

.navbar-icons li {
    padding: 8px 12px;
}
.icon7{
    margin-top:1px;
}

.nav-container.drop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    animation: dropHeader 0.5s;
    /* background-color: rgba(255, 77, 77, 0.507);  */
    background: #f6f5ef;
    ;
    z-index: 1;

}

@keyframes dropHeader {
    0% {
        top: -5em;
    }

    100% {
        top: 0;
    }
}


/*서브헤더*/

.sub-header2{
    width:100%;
    height:70px;
    background-color:rgba(0, 0, 0, 0.5);
    position:absolute;
    display:none;
}

.sub-header2 .ul{
    gap: 50px;
    display: flex;
    justify-content: center;

    font-size:18px;
}

.navbar-menu > li.shop:hover > .sub-header2{
    display:block;
    left:0;
    top:70px;
    z-index:1;
}
.sub-header2 a{
    color:white;
}
.sub-header2 a:hover{
    color:rgb(255, 179, 0);
}
.sub-header2 .course{
    line-height:70px;
}
.searchForm{
    padding-top:13px;
}
.searchForm > input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}




.sub-header{
    width:100%;
    height:70px;
    background-color:rgba(0, 0, 0, 0.5);
    position:absolute;
    display:none;
}

.sub-header .ul{
    gap: 50px;
    display: flex;
    justify-content: center;
    line-height: 70px;
    font-size:18px;
}

.navbar-menu > li.course:hover > .sub-header{
    display:block;
    left:0;
    top:70px;
    z-index:1;
}
.sub-header a{
    color:white;
}
.sub-header a:hover{
    color:rgb(255, 179, 0);
}

/* 로그인 */

#myDIV {
    z-index: 999;
    width: 100%;
    position: absolute;
    display: none;
    border-top: 1px solid #000000;
    text-align: center;
    height: 90px;
    line-height: 80px;
    background-color: #fff;
    transform: 1s;
    animation: slide_login 1s;
}

#myDIV .form input:nth-child(3) {
    border: 1px solid #ced4da;
    border-radius: 0.5em;
    padding: 12px;
    width: 20em;
    font-size: 1rem;
    border-color: #56af53;
    box-shadow: 0 0 0 1pt grey;
    outline: none;
    border-radius: 5pt;

}

#myDIV .form input:nth-child(5) {
    border: 1px solid #ced4da;
    border-radius: 0.5em;
    padding: 12px;
    width: 20em;
    font-size: 1rem;
    border-color: #56af53;
    box-shadow: 0 0 0 1pt grey;
    outline: none;
    border-radius: 5pt;
}

#myDIV .form input:focus {
    box-shadow: 0 0 5pt 5pt rgb(240, 205, 154);
    transition: .1s;
    border-radius: 5pt;
    border: 0;

}

#myDIV .form input:last-child {
    top: 0;
    margin-top: 0px;
}

@keyframes slide_login {
    0% {
        opacity: 0;
        margin-top: -5em;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

/*버튼*/

#header-button{
    padding: 10px;
    background-color: gray;
    color: white;
    border-radius: 6px;
    border: 1px solid beige;
    cursor:pointer;
}
#header-button:active{
color:black;
background-color:rgb(170, 170, 170);
}
#header-button-box{
    text-align:center;
}
#header-button-box > a:hover{
    display:inline;
}
