@charset 'utf-8';

a:hover {
    display: inline;
}

.content {
    margin: 50px auto 0 auto;
    width: 1100px;
    min-height: 625px;
}

.contentWrap {
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    margin-top: 100px;
}

.contentWrap:first-child {
    border-top: 1px solid #3d3d4f;
}

.h2Box {
    background-color: #3d3d4f;
    padding: 15px 125px 10px;
    display: inline-block;
    color: white;
}

.paginationUl {
    text-align: center;
}

.paginationUl li {
    display: inline;
}

.paginationUl li.active {
    padding: 3px 3px 1px 6px;
    border: 3px solid tomato;
    border-radius: 5px;
}

.button {
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5px;
}

.button:hover {
    background: rgb(200, 200, 200);
}