  @charset 'utf-8';


  td img{width:200px; height:200px;}
  td.center{
  text-align:center;
  }
  .btn{
  color:black;
  background-color: gainsboro;
  }
  .h1-wrap{
  width:1300px;
  font-size:27px;
  margin:100px auto 0 auto;
  text-align:center;
  }
  .h1-wrap p{
  font-size:24px;
  margin-top:50px;
  }
  .h1-btn{
  text-align:right;
  margin-top:100px;
  }
  .btn:hover{
  display:inline;
  background-color:rgb(240, 205, 154);
  }
  .mg .bold{
   padding: 10px;
  }
  .mt{
  margin-top:50px;
  }
  .page-item.active .page-link {
  background-color:#a3a3a3;
  border-color:black;
  }
  .image-box{
  width:100%;
  height:300px;
  background:url("/images/review/winter.jpeg");
  background-repeat: no-repeat;
  background-position:0 -170px;
  }
  /*페이지*/
.page-item{
    text-align:center;
}
.page-item.active #page-link{
    padding:7px;
    color:white;
    background-color: rgb(118, 152, 255);
    border-radius:5px;
}
.page-item{
    display:inline-block;
}
.page-ul{
    text-align:center;
}


.form-group{
    width;1300px;
    text-align:center;
}
.form-group .form-control{
    width:60%;
    margin:0 auto;
    text-align:center;
}
.form-group label{
    margin:20px auto;
}

.custom-file-input .files{
    width:15%
}
#myDIV .form{
    line-height:0;
    padding:10px;
}

/*모달*/
.modal-content > .modal-bdoy {
    text-align:center;
}


  /*버튼*/
.button{
    padding: 10px;
    background-color: rgb(118, 152, 255);
    color:white;
    border-radius: 6px;
    border: 1px solid beige;
    font-size:large;
}
.button:active{
color:white;
background-color: rgb(50, 78, 161);;
}
.button-box{
    text-align:center;
}

#button{
    padding: 10px;
    background-color: rgb(118, 152, 255);
    color:white;
    border-radius: 6px;
    border: 1px solid beige;
    font-size:large;
}
#button:active{
color:white;
background-color:rgb(50, 78, 161);;
}
#button-box{
    text-align:center;
}
#button-header{
    padding:20px 10px;
}